Repository MahmoudMabrok/QuranyApp, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, screenshots, test

.github/labeler.yml:

# Add 'repo' label to any root file changes
docs:
  - ./*.md

screenshots:
  - ./images/*
  - ./logo

test:
  - app/src/test/java/education/mahmoud/quranyapp/*
  
# cofigurations:
# - any: ['*.yml', '*.pom']

Update README.md
  README.md
Labels: docs

feat: add bg & stsrt withsura item
  app/src/main/java/education/mahmoud/quranyapp/feature/show_sura_list/SuraAdapter.java
  app/src/main/java/education/mahmoud/quranyapp/feature/show_sura_list/SuraListFragment.kt
  app/src/main/res/drawable/bg.jpg
  app/src/main/res/drawable/ic_madinah.xml
  app/src/main/res/drawable/ic_makka.xml
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/layout/fragment_sura_list.xml
  app/src/main/res/layout/item_sura.xml
  app/src/main/res/layout/sura_item.xml
  app/src/main/res/layout/sura_item_skelton.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/styles.xml
  local.properties
Labels: none

feat: add search
  app/src/main/java/education/mahmoud/quranyapp/datalayer/local/room/AyahItem.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/ayahs_search/ShowSearchResults.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/gotoscreen/GoToSurah.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/home_Activity/HomeActivity.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/listening_activity/ListenFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/read_log/ReadLogFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/setting/SettingActivity.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/showSuraAyas/Page.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/showSuraAyas/ShowAyahsActivity.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/show_sura_list/SuraAdapter.java
  app/src/main/java/education/mahmoud/quranyapp/feature/show_sura_list/SuraListFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/show_tafseer/TafseerAdapter.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/show_tafseer/TafseerDetails.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/splash/Splash.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/test_quran/TestFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/utils/KeyboardHelper.kt
  app/src/main/java/education/mahmoud/quranyapp/utils/NumberHelper.kt
  app/src/main/res/drawable/bg_round_search.xml
  app/src/main/res/drawable/ic_arrow_back.xml
  app/src/main/res/drawable/ic_book.xml
  app/src/main/res/drawable/ic_bookmark_icon.xml
  app/src/main/res/drawable/ic_search.xml
  app/src/main/res/font/ge_bold.otf
  app/src/main/res/font/ge_light.otf
  app/src/main/res/font/ge_medium.otf
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/layout/activity_show_search_results.xml
  app/src/main/res/layout/fragment_sura_list.xml
  app/src/main/res/layout/header_listen.xml
  app/src/main/res/layout/header_search.xml
  app/src/main/res/layout/item_search.xml
  app/src/main/res/layout/item_sura_header.xml
  app/src/main/res/layout/sura_item.xml
  app/src/main/res/menu/menu_home.xml
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Labels: none

feat: add search
  app/src/main/res/drawable/bg_search_bottom.xml
  app/src/main/res/drawable/bg_search_top.xml
  app/src/main/res/layout/activity_show_search_results.xml
  app/src/main/res/layout/item_search.xml
Labels: none

feat: finish home(search, list)
  app/src/main/java/education/mahmoud/quranyapp/App.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/ayahs_search/ShowSearchResults.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/home_Activity/HomeActivity.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/home_Activity/HomeVPAdapter.kt
  app/src/main/java/education/mahmoud/quranyapp/utils/LocaleHelper.kt
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/layout/fragment_bookmark.xml
  app/src/main/res/layout/header_search.xml
  app/src/main/res/layout/item_sura.xml
  app/src/main/res/layout/item_sura_header.xml
  app/src/main/res/menu/menu_home.xml
  app/src/main/res/values-ar/arrays.xml
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values/arrays.xml
Labels: none

dependencies version moved to root build.gradle file
  app/build.gradle
  build.gradle
Labels: none

1. Skeleton moved in BaseFragment.kt 2. code cleanup 3. code refactoring in SuraListFragment.kt, TafseerDetails.kt
  app/src/main/java/education/mahmoud/quranyapp/base/BaseFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/base/DataLoadingBaseFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/bookmark_fragment/BookmarkFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/listening_activity/ListenFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/read_log/ReadLogFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/show_sura_list/SuraListFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/show_tafseer/TafseerDetails.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/splash/Splash.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/test_quran/TestFragment.kt
  app/src/main/res/layout/activity_show_suar.xml
  app/src/main/res/layout/fragment_display_suras.xml
Labels: none

Update README.md
  README.md
Labels: docs

Update index.md
  index.md
Labels: docs

feat: list ayahs as single item per cell
  app/src/main/AndroidManifest.xml
  app/src/main/java/education/mahmoud/quranyapp/data_layer/Repository.java
  app/src/main/java/education/mahmoud/quranyapp/data_layer/local/room/AyahDAO.java
  app/src/main/java/education/mahmoud/quranyapp/feature/show_sura_ayas/AyahsAdapter.java
  app/src/main/java/education/mahmoud/quranyapp/feature/show_sura_ayas/SuraAyahsActivity.java
  app/src/main/java/education/mahmoud/quranyapp/feature/show_sura_list/SuraListFragment.java
  app/src/main/res/layout/activity_sura_ayahs.xml
  app/src/main/res/layout/ayah_single_item.xml
  app/src/main/res/layout/page_item.xml
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  local.properties
Labels: none

feat: improve UI & use typeface for ayahs
  app/src/main/java/education/mahmoud/quranyapp/feature/show_sura_ayas/AyahsAdapter.java
  app/src/main/res/layout/ayah_single_item.xml
Labels: none

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

Update README.md
  README.md
Labels: docs

build: update dependcey
  app/build.gradle
  app/src/main/java/education/mahmoud/quranyapp/App.kt
  app/src/main/java/education/mahmoud/quranyapp/base/BaseFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/base/DataLoadingBaseFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/datalayer/local/LocalShared.kt
  app/src/main/java/education/mahmoud/quranyapp/datalayer/local/room/AyahDAO.kt
  app/src/main/java/education/mahmoud/quranyapp/datalayer/local/room/BookmarkDAO.kt
  app/src/main/java/education/mahmoud/quranyapp/datalayer/local/room/QuranDB.kt
  app/src/main/java/education/mahmoud/quranyapp/datalayer/local/room/ReadLogDAO.kt
  app/src/main/java/education/mahmoud/quranyapp/datalayer/local/room/RecordDAO.kt
  app/src/main/java/education/mahmoud/quranyapp/datalayer/local/room/SurahDAO.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/ayahs_search/SearchResultsAdapter.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/ayahs_search/ShowSearchResults.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/bookmark_fragment/BookmarkFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/gotoscreen/GoToSurah.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/home_Activity/HomeActivity.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/read_log/ReadLogFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/showSuraAyas/PageAdapter.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/show_tafseer/TafseerAdapter.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/splash/Splash.kt
  app/src/main/java/education/mahmoud/quranyapp/utils/Constants.kt
  app/src/main/java/education/mahmoud/quranyapp/utils/NumberHelper.kt
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  local.properties
Labels: none

build: delete properties file
  local.properties
Labels: none

feat: update dependency.
  app/build.gradle
  app/src/main/java/education/mahmoud/quranyapp/App.kt
  app/src/main/java/education/mahmoud/quranyapp/datalayer/local/room/QuranDB.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/home_Activity/HomeVPAdapter.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/listening_activity/ListenFragment.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/show_sura_list/SurahListFragment.kt
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/layout/fragment_sura_list.xml
  build.gradle
Labels: none

Update README.md
  README.md
Labels: docs

add android ci
  .github/workflows/androidCI.yml
Labels: none

Update androidCI.yml
  .github/workflows/androidCI.yml
Labels: none

Update androidCI.yml
  .github/workflows/androidCI.yml
Labels: none

Update androidCI.yml
  .github/workflows/androidCI.yml
Labels: none

Update androidCI.yml
  .github/workflows/androidCI.yml
Labels: none

Update androidCI.yml
  .github/workflows/androidCI.yml
Labels: none

Update androidCI.yml
  .github/workflows/androidCI.yml
Labels: none

Update androidCI.yml
  .github/workflows/androidCI.yml
Labels: none

Update androidCI.yml
  .github/workflows/androidCI.yml
Labels: none

Update androidCI.yml
  .github/workflows/androidCI.yml
Labels: none

Update README.md
  README.md
Labels: docs

feat: add data binding & refactor page into PageViewHolder
  app/build.gradle
  app/src/androidTest/java/education/mahmoud/quranyapp/ExampleInstrumentedTest.java
  app/src/main/java/education/mahmoud/quranyapp/feature/showSuraAyas/Page.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/showSuraAyas/PageAdapter.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/showSuraAyas/PageViewHolder.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/showSuraAyas/ShowAyahsActivity.kt
  app/src/main/java/education/mahmoud/quranyapp/utils/Extensions.kt
  app/src/main/res/layout/page_item.xml
  app/src/main/res/values/styles.xml
  app/src/test/java/education/mahmoud/quranyapp/ExampleUnitTest.java
  app/src/test/java/education/mahmoud/quranyapp/utils/DateOperationTest.java
Labels: test

feat: add data binding & refactor page into PageViewHolder
  app/src/main/res/layout/page_item.xml
Labels: none

feat: add data binding & refactor page into PageViewHolder
  app/src/main/java/education/mahmoud/quranyapp/feature/showSuraAyas/Page.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/showSuraAyas/PageViewHolder.kt
  app/src/main/java/education/mahmoud/quranyapp/feature/showSuraAyas/ShowAyahsActivity.kt
  app/src/main/res/layout/activity_show_ayahs.xml
  app/src/main/res/layout/page_item.xml
  app/src/main/res/values-ar/strings.xml
  app/src/main/res/values/strings.xml
Labels: none

Update README.md
  README.md
Labels: docs

Update androidCI.yml
  .github/workflows/androidCI.yml
Labels: none

Update and rename androidCI.yml to prepare.yml
  .github/workflows/prepare.yml
Labels: none

Create CI 2 .yml
  .github/workflows/CI 2 .yml
Labels: none

Update CI 2 .yml
  .github/workflows/CI 2 .yml
Labels: none

Update CI 2 .yml
  .github/workflows/CI 2 .yml
Labels: none

Rename CI 2 .yml to Android CI.yml
  .github/workflows/Android CI.yml
Labels: none

Update README.md
  README.md
Labels: docs
